%h1.mt-1 ポスト一覧

%ul.list-group
  - @posts.each do |post|
    .list-group-item.list-group-item-action
      %p= post.content
      %time.mb-1{ datetime: post.created_at.to_fs(:iso8601) }= l(post.created_at, format: :long)
= pagy_bootstrap_nav(@pagy).html_safe
